$theme-font:  verdana, sans-serif;

@font-face {
  font-family: Bariol;
  src: url("~@/assets/fonts/Bariol.otf") ;

  font-family: BariolBold;
  src: url("~@/assets/fonts/BariolBold.otf") ;
}

  #app {
  
  //
  margin:0;     /* This is used to reset any browser-default margins */
  height:100vh; /* This is needed to overcome a Chrome bug. */
  width:100vw; 
  font-family: 'Bariol', 'BariolBold';//,'Helvetica Neue', Arial, sans-serif;
  color: rgb(76, 74, 80);
  background-color:rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-scrollbar { 
  display: none; 
}

.generalcontent {
  position: relative;
  width: 100%;
  min-height: 70vh;
  left: 0;
  top: 0;
  z-index: 10;
  
}
 
  h1, h2 {
    font-weight: 600;
    color: rgb(36, 31, 29);
  }
  ul {
    list-style-type:none;
     }
  li {
    display: flex;
    flex-direction:column; /* column | row  */
}

.tel {
  margin:0 auto;
  width: 21%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.signup {
  margin-top: 40px;
}

input {
  margin: 10px 0;
  width: 20%;
  padding: 7px; 
}

.box:input{
  margin: 10px 0;
  width: 75%;
  padding: 7px; 
}

button {
  margin-top: 10px;
  width: 10%;
  cursor: pointer;
  height:30px;
}

 p {
   margin-top: 40px;
   font-size: 13px;
 }

 p a {
   text-decoration: underline;
   cursor: pointer;
 }

* {
  box-sizing: border-box;
}

.fullpage {
  width:100vw;
  display: flex;
  flex-direction:column; /* column | row  */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  min-height: 92vh;
  min-height: -webkit-calc(100vh - 60px);
  min-height: -moz-calc(100vh - 60px);
  min-height: calc(100vh- 60px);
}

.container {
  min-height: 70vh;
  height:100%;
  width:100%;
  float:right;
  overflow-y: auto;
 }

.banner {
  background-color: rgb(248, 252, 248);
  height:20vh;
  width:100vw;
  text-align: right;
  // padding-top: 0px;
  // padding-right: 0px;
  position: relative;
  
}

.row{
  width:100%;
  height:100%;
}

.column {
  position:relative;
  float:left;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
}

.right {
  z-index:3;
  width: 25%;
  -webkit-filter:blur(6px);
  filter:blur(6px);
  
}

.left{
    z-index:2;
    width: 25%;
    -webkit-filter:blur(6px);
    filter:blur(6px);
   }

.middle {
  z-index:1;
  width: 50%;
  transform: scale(1.1,0.98); 
}

.centreblock {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0, auto;
  
}


.eventrow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height:100%;
  
}

.eventimagebox {
  float: left;
  height: auto;
  margin: 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 0.4;

  img {
    width: 100%;
    bottom: 0;
  }
 }

 .eventinfobox {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  align-items: center;
  text-align: center; 
  justify-content: center;
    
}

.eventbuttonbox{
  display: flex;
  flex-direction: column;
  flex: 0.2;
  cursor: pointer;
  align-items: center;
  text-align: center; 
  justify-content: center;

  button {
      width: 100%;
    }

}

 .box {
  background-color: rgba(252, 252, 252, 0.966);
  border: 1px solid rgb(225, 225, 226);
  width: 50vh;
  height: auto;
  margin: 5px;
  text-align: center;     /* will center text in <p>, which is not a flex item */
  padding: 10px;
}

.select {
  display: grid;
  width: 100px;
}

// #nav {
//   padding: 5px;
// }

// #nav a {
//   font-weight: bold;
//   color: #2c3e50;
// }

// #nav a.router-link-exact-active {
//   color: #42b983;
// }

.image{
  min-width: 100%;
    height: auto;
    overflow-y: hidden;
}

@media all and (max-width: 800px) {

  .middle {
    width: 60%;
  }

  .left, .right {
    width: 20%;
  }
    
  .box {
      width: 50vh;
    }
  
    input {
      width: 50%;
      margin: 20px;
    }

    .imagebox {
      width: 50vw;
      margin: 20px;
     }

     //Events
    .eventrow{
      flex-direction: row;
     }
    
    .eventimagebox {
      flex: 0.4;
     }
    
     .eventinfobox {
      flex: 0.4;
    }
    
    .eventbuttonbox{
      flex: 0.2;
  }
  
    
}

@media all and (max-width: 600px) {

  .middle {
    width: 100%;
  }

  .left, .right {
    width: 0%;
  }
  
  .box {
      width: 70vh;
    }

  input {
      width: 70%;
    }

  .imagebox {
    width: 70vw;
    margin: 2px;
    }

    //Events
    .eventrow{
      flex-direction: column;
     }
    
    .eventimagebox {
      flex: 1;
     }
    
     .eventinfobox {
      flex: 1;
    }
    
    .eventbuttonbox{
      flex: 1;
     
    }
}

}